
*{
  box-sizing: border-box;/*para que no se salga el elemento*/
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
}
.menu__nav{
  background-color: black;
  display:flex;
  height: 80px;
  width: 100%;
}
.menu__nav-img{
  width: 20%;
  height: 100%;
}
.menu__nav--img{
  height: 50px;
  width: auto;
  position: absolute;
  margin-top:10px;
  margin-left: 20px;
}
.menu__nav--nav_links{
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu__nav--nav_links li{
  display:inline-block;
  line-height: 80px;
}
.menu__nav--links--enlace, .menu__nav--links--enlace--redes {
  color:#fff;
  font-size:1.rem;
  padding: 2px 3px;
  border-radius: 3px;
}
.menu__nav--links--enlace:hover, .menu__nav--links--enlace--redes:hover{
  background-color: #FB6F92;
  transition: .5s;
}
.menu__nav--label{
  font-size:20px;
}
.links__redes{
  width:10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu__nav--links--redes{
  color:#fff;
  font-size:1.3rem;
  padding: 7px 13px;
  border-radius: 3px;
}

.menu__nav--menu{
  height:25px;
  float: left;
  line-height: 80px;
  margin-top:20px ;
  cursor:pointer;
  display: none;
}
.rosa{
  display:none;
  color:black;
}

#menu__nav--check, .menu__nav--links--enlace--suscripcion{
display:none;
}

@media(max-width:1052px){
.menu__nav{
  padding-left: 10px;
}
.menu__nav--links--enlace{
font-size: .8rem;
}
}
@media(max-width: 800px){
  .menu__nav--menu{
  display:block;
  /*margin-right: 10px;*/
}
.menu__nav--nav_links{
  position: fixed;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100vh;
  background: rgba(10, 10, 10, 0.9);
  top:80px;
  right:100%;
  text-align: center;
  transition: all .5s;
}
.menu__nav--nav_links > li{
display: block;
width: 100%;
padding-left:5%;
height: fit-content;
border-bottom:1px solid gray;
line-height: 20px;
text-align: left;
margin-inline:auto;
padding-top: 2px;
padding-bottom: 2px;
position:relative;
cursor:pointer;

}
.menu__nav--nav_links > li:hover{
  background-color:#FB6F92;
  transition: all 0.75s;
}
.menu__nav--nav_links > li::before{
  content: "";
  position:absolute;
  width:10px;
  height: 80%;
  background-color: #88b2ff;
  left:10px;
}
.menu__nav--links--enlace{
  font-size: 2 rem ;
  text-align: right;
}

.links__redes{
  width:70%;
  height: 15%;
  margin-inline:auto;
  position: relative;
  align-items: end;
  margin-top:20px ;
}
.links__redes::before {
  content: attr(mensaje);
  position: absolute;
  width: fit-content;
  height: fit-content;
  font-size:20px;
  left:15%;
  top:0;
  color:#ffffff;
}
.menu__nav--links--enlace:hover{
  background: none;
  color: #FB6F92;
}
#menu__nav--check:checked ~ ul {
  right:0;
}
.rosa{
  color:#FB6F92;
 text-align: left;
  display:inline-block;
}
.menu__nav--links--redes{
  padding: 0;
  border-radius: 3px;
  display: inline-block;
}
}





































.section--principal{
  display:flex; 
  flex-direction: column; 
  text-align: center;
  align-content: space-around;
  margin-top: 3rem;
  
}

.articles--section--principal{
  display:flex; 
  flex-wrap:wrap; 
  justify-content:space-evenly;
  
  
}

.secundaria{
  width: 400px;
}

.principal{
  width: 800px;
}

.mediana{
  width: 500px;
 
}
.article--card{
  /* background-color:pink;  */
  display:flex; 
  flex-direction: column; 
  align-items: center; 
  margin: 1rem;
  position: relative;
  overflow: hidden;
  
}

.card--img--secundaria{  
  width: 100%;
  height:100%;
}
.card--img--principal{  
  width: 100%;
  height:100%;
}

.titulo--card--categoria{
  text-underline-position: auto;
  border-bottom: 5px solid #88b2ff;
  margin-top:1rem;
}

.titulo--card--nota{
  text-align:center;
  margin:1rem;
  font-weight: 200;
}

.logos-empresa{
  height: 50px;
  justify-content:space-evenly;
}