body{
    margin:0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
   }
   img{
    max-width: 100%;
   }
  
   main{
    padding: 1rem;
    margin: 0 auto;
    
   }

   h1,h2,h3,p{
    margin:0;
    
  }
  
  h1,h2,h3,p{
    margin:0;
    font-weight: 800;
  }
  
  p{
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 100;
    
  }
  
  
  
  .articulo__principal{
    display:flex;
    flex-direction:column;
    gap: 1rem;
  }
  
  .articulo-titulo{
    gap: 0.5rem;
    font-size: 1rem;
    text-underline-position:below;
    border-bottom: 3px solid #de41d1;
    
  }

  .articulo__principal-descripcion{
    margin-bottom: 2rem;
  }
  
  
  .articulo__secundario{
    display: grid;
    grid-template-columns: 6fr 2fr;
    gap: 1rem;
    align-items: stretch;
  }
  .articulo__secundario-wrapper-text{
    display: flex;
    flex-direction: column; 
    gap: 0.5rem;
  }
   
  .articulo__secundario-title{
    gap: 0.5rem;
    font-size: 1rem;
    text-underline-position:below;
    border-bottom: 3px solid #de41d1;
  }
  
  .articulo__secundario-descripcion
  .articulo__descubre-descripcion{
    line-height: 0.8rem;
  }
  
  .seccion__secundaria,
  .seccion__juegos,
  .seccion__videos,
  .seccion__tendencia{
    text-align: center;
    margin: 0.5rem;
    display:flex;
    flex-direction: column;
    gap: 1rem;
  
  }
  .articulo__juegos{
    border-radius: 10px;
    margin-top: 1rem;
  }
 .boton__juegos{
  margin-top: 1rem;
  font-family: inherit;
  padding: 0.5rem;
  border-radius: 20px;
 }

 .articulo__video-contenedor-texto{
  background-color: aquamarine;
 }

  .seccion__descubre{
    margin-top: 2.75rem;
    padding:1rem;
    /* background-color: rgb(222, 215, 215); */
  }
  
  .articulo__descubre{
    background-color: rgb(222, 215, 215);
    margin: 1rem;
    /* border-bottom: 10px solid rgb(203, 25, 186); */
    padding-block: 1rem;
  }
  
 
  
  